?xml version="1.0"?>
<model>
  <name>generic_quad_sim</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Aniket Shirsat</name>
   <email>ashirsat@asu.edu</email>
  </author>

  <description>
    A Generic Quadrotor with bottom mounted camera
  </description>
</model>
